.trip {
  font-family: "Open Sans", sans-serif;
  max-width: 976px;
  width: 100%;
  margin: 0 auto;
}
@media only screen and (max-width: 1184px) {
  .trip {
    max-width: 560px;
  }
}
@media only screen and (max-width: 992px) {
  .trip {
    max-width: 464px;
  }
}
@media only screen and (max-width: 496px) {
  .trip {
    max-width: 272px;
  }
}
.trip__item {
  width: 100%;
  padding-bottom: 125%;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
  background-size: contain;
}
.trip__item--first {
  background-image: url(../img/bg-1.jpg);
}
.trip__item--second {
  background-image: url(../img/bg-2.jpg);
}
.trip__item--third {
  background-image: url(../img/bg-3.jpg);
}
.trip__item--fourth {
  background-image: url(../img/bg-4.jpg);
}
.trip__item--fifth {
  background-image: url(../img/bg-5.jpg);
}
.trip__item--finish {
  padding-bottom: 62%;
  background-image: url(../img/bg-finish.jpg);
}
.trip__object {
  position: absolute;
  text-decoration: none;
}

.penguin {
  justify-items: center;
  width: 25.92%;
  top: 90px;
  left: 37.6%;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .penguin {
    top: 35px;
  }
}
@media only screen and (max-width: 992px) {
  .penguin {
    width: 156px;
  }
}
@media only screen and (max-width: 496px) {
  .penguin {
    width: 122px;
    left: 80px;
    top: 10px;
  }
}
.penguin__img {
  width: 95%;
  z-index: 1;
  -webkit-animation: swing 5s 0s infinite both;
          animation: swing 5s 0s infinite both;
}
@media only screen and (max-width: 1184px) {
  .penguin__img {
    width: 135px;
  }
}
@media only screen and (max-width: 992px) {
  .penguin__img {
    max-width: 88px;
  }
}
@media only screen and (max-width: 496px) {
  .penguin__img {
    max-width: 70px;
  }
}
.penguin__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .penguin__shadow {
    width: 185px;
    height: 45px;
  }
}
@media only screen and (max-width: 992px) {
  .penguin__shadow {
    width: 156px;
    height: 32px;
    margin-top: -22px;
  }
}
@media only screen and (max-width: 496px) {
  .penguin__shadow {
    width: 112px;
    height: 24px;
    margin-top: -16px;
  }
}
.penguin__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .penguin__name {
    margin-top: 10px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .penguin__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .penguin__name {
    margin-top: 5px;
    font-size: 16px;
  }
}
.penguin__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.penguin__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.penguin:hover .penguin__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

@-webkit-keyframes swing {
  0% {
    transform: rotate3d(0, 0, 1, 0);
  }
  15% {
    transform: rotate3d(0, 0, 1, 0);
  }
  30% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 0);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0);
  }
}

@keyframes swing {
  0% {
    transform: rotate3d(0, 0, 1, 0);
  }
  15% {
    transform: rotate3d(0, 0, 1, 0);
  }
  30% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 0);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0);
  }
}
.gifts {
  justify-items: center;
  width: 411px;
  top: 825px;
  left: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
}
@media only screen and (max-width: 1184px) {
  .gifts {
    width: 285px;
    top: 465px;
    left: 90px;
  }
}
@media only screen and (max-width: 992px) {
  .gifts {
    top: 390px;
  }
}
@media only screen and (max-width: 496px) {
  .gifts {
    top: 220px;
    left: 40px;
  }
}
.gifts__img {
  width: 265px;
  height: auto;
  margin-left: -80px;
  z-index: 1;
}
@media only screen and (max-width: 1184px) {
  .gifts__img {
    width: 155px;
    margin-left: -52px;
  }
}
@media only screen and (max-width: 992px) {
  .gifts__img {
    width: 104px;
    margin-left: -52px;
  }
}
@media only screen and (max-width: 496px) {
  .gifts__img {
    width: 75px;
    margin-left: -40px;
  }
}
.gifts__img--green {
  width: 170px;
  margin-left: -213px;
  margin-top: -55px;
  z-index: 0;
}
@media only screen and (max-width: 1184px) {
  .gifts__img--green {
    width: 125px;
    margin-left: -175px;
    margin-top: -90px;
  }
}
@media only screen and (max-width: 992px) {
  .gifts__img--green {
    width: 80px;
    margin-left: -210px;
    margin-top: -55px;
  }
}
@media only screen and (max-width: 496px) {
  .gifts__img--green {
    width: 60px;
    margin-left: -240px;
    margin-top: -45px;
  }
}
.gifts__shadow {
  display: block;
  width: 410px;
  height: 135px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -120px;
}
@media only screen and (max-width: 1184px) {
  .gifts__shadow {
    width: 285px;
    height: 75px;
    margin-top: -60px;
  }
}
@media only screen and (max-width: 992px) {
  .gifts__shadow {
    width: 200px;
    height: 55px;
    margin-top: -45px;
  }
}
@media only screen and (max-width: 496px) {
  .gifts__shadow {
    width: 140px;
    height: 40px;
    margin-top: -30px;
  }
}
.gifts__name {
  color: #1e600c;
  text-align: center;
  margin-top: 30px;
  margin-left: -390px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .gifts__name {
    margin-top: 20px;
    margin-left: -285px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .gifts__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .gifts__name {
    font-size: 16px;
    margin-top: 10px;
  }
}
.gifts__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.gifts__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.gifts:hover .gifts__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.dragon {
  justify-items: center;
  width: 253px;
  top: 70px;
  left: 367px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .dragon {
    top: 20px;
    left: 200px;
  }
}
@media only screen and (max-width: 992px) {
  .dragon {
    left: 180px;
    width: 175px;
  }
}
@media only screen and (max-width: 496px) {
  .dragon {
    left: 90px;
    top: 10px;
    width: 140px;
  }
}
.dragon__img {
  width: 220px;
  z-index: 1;
  -webkit-animation: fly 5s ease 0s infinite alternate both;
          animation: fly 5s ease 0s infinite alternate both;
}
@media only screen and (max-width: 1184px) {
  .dragon__img {
    width: 190px;
  }
}
@media only screen and (max-width: 992px) {
  .dragon__img {
    width: 140px;
  }
}
@media only screen and (max-width: 496px) {
  .dragon__img {
    width: 95px;
  }
}
.dragon__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .dragon__shadow {
    width: 220px;
    height: 40px;
    margin-top: -10px;
  }
}
@media only screen and (max-width: 992px) {
  .dragon__shadow {
    width: 156px;
    height: 32px;
  }
}
@media only screen and (max-width: 496px) {
  .dragon__shadow {
    width: 112px;
    height: 24px;
    margin-top: -5px;
  }
}
.dragon__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .dragon__name {
    margin-top: 10px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .dragon__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .dragon__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.dragon__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.dragon__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.dragon:hover .dragon__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

@-webkit-keyframes fly {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-15px);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(10px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(-15px);
  }
}

@keyframes fly {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-15px);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(10px);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(-15px);
  }
}
.gift-hat {
  justify-items: center;
  width: 265px;
  top: 695px;
  left: 350px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .gift-hat {
    width: 240px;
    left: 165px;
    top: 362px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-hat {
    width: 150px;
    top: 340px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-hat {
    width: 115px;
    top: 180px;
    left: 85px;
  }
}
.gift-hat__img {
  width: 220px;
  height: auto;
  z-index: 1;
}
@media only screen and (max-width: 1184px) {
  .gift-hat__img {
    width: 150px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-hat__img {
    width: 105px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-hat__img {
    width: 60px;
  }
}
.gift-hat__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .gift-hat__shadow {
    width: 180px;
    height: 40px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-hat__shadow {
    width: 145px;
    height: 35px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-hat__shadow {
    width: 95px;
    height: 20px;
    margin-top: -10px;
  }
}
.gift-hat__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .gift-hat__name {
    margin-top: 0;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-hat__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-hat__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.gift-hat__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.gift-hat__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.gift-hat:hover .gift-hat__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.snow-maiden {
  justify-items: center;
  top: 45px;
  left: 430px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .snow-maiden {
    left: 225px;
    top: 5px;
  }
}
@media only screen and (max-width: 992px) {
  .snow-maiden {
    left: 185px;
    top: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .snow-maiden {
    left: 125px;
    top: 0;
  }
}
.snow-maiden__img {
  width: 260px;
  height: auto;
  z-index: 1;
}
@media only screen and (max-width: 1184px) {
  .snow-maiden__img {
    width: 180px;
  }
}
@media only screen and (max-width: 992px) {
  .snow-maiden__img {
    width: 135px;
  }
}
@media only screen and (max-width: 496px) {
  .snow-maiden__img {
    width: 80px;
  }
}
.snow-maiden__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .snow-maiden__shadow {
    width: 205px;
    height: 40px;
    margin-top: -22px;
  }
}
@media only screen and (max-width: 992px) {
  .snow-maiden__shadow {
    width: 156px;
    height: 32px;
  }
}
@media only screen and (max-width: 496px) {
  .snow-maiden__shadow {
    width: 112px;
    height: 24px;
    margin-top: -16px;
  }
}
.snow-maiden__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .snow-maiden__name {
    margin-top: 0;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .snow-maiden__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .snow-maiden__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.snow-maiden__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.snow-maiden__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.snow-maiden:hover .snow-maiden__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.deer {
  justify-items: center;
  width: 350px;
  top: 710px;
  left: 255px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .deer {
    top: 375px;
    left: 50px;
  }
}
@media only screen and (max-width: 992px) {
  .deer {
    width: 240px;
    top: 340px;
  }
}
@media only screen and (max-width: 496px) {
  .deer {
    width: 150px;
    top: 170px;
    left: 20px;
  }
}
.deer__img {
  width: 220px;
  z-index: 1;
}
@media only screen and (max-width: 1184px) {
  .deer__img {
    width: 155px;
  }
}
@media only screen and (max-width: 992px) {
  .deer__img {
    width: 120px;
  }
}
@media only screen and (max-width: 496px) {
  .deer__img {
    width: 85px;
  }
}
.deer__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .deer__shadow {
    width: 210px;
    height: 42px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 992px) {
  .deer__shadow {
    width: 156px;
    height: 32px;
  }
}
@media only screen and (max-width: 496px) {
  .deer__shadow {
    width: 112px;
    height: 24px;
    margin-top: -16px;
  }
}
.deer__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .deer__name {
    margin-top: 0;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .deer__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .deer__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.deer__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.deer__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.deer:hover .deer__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.gift-colored {
  justify-items: center;
  top: 105px;
  left: 350px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .gift-colored {
    width: 216px;
    top: 60px;
    left: 176px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-colored {
    width: 175px;
    left: 145px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-colored {
    width: 138px;
    left: 65px;
    top: 30px;
  }
}
.gift-colored__img {
  width: 245px;
  z-index: 1;
  -webkit-animation: jump 2s ease 0s infinite alternate both;
          animation: jump 2s ease 0s infinite alternate both;
}
@media only screen and (max-width: 1184px) {
  .gift-colored__img {
    width: 150px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-colored__img {
    width: 105px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-colored__img {
    width: 65px;
  }
}
.gift-colored__shadow {
  display: block;
  width: 290px;
  height: 95px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -80px;
}
@media only screen and (max-width: 1184px) {
  .gift-colored__shadow {
    width: 210px;
    height: 65px;
    margin-top: -50px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-colored__shadow {
    width: 156px;
    height: 32px;
    margin-top: -22px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-colored__shadow {
    width: 100px;
    height: 22px;
    margin-top: -16px;
  }
}
.gift-colored__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .gift-colored__name {
    margin-top: 0;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .gift-colored__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .gift-colored__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.gift-colored__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.gift-colored__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.gift-colored:hover .gift-colored__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

@-webkit-keyframes jump {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-45px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-15px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes jump {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-45px);
  }
  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: translateY(-15px);
  }
  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  90% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
.fox {
  justify-items: center;
  width: 350px;
  top: 710px;
  left: 175px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .fox {
    top: 380px;
    left: 35px;
  }
}
@media only screen and (max-width: 992px) {
  .fox {
    width: 200px;
    top: 340px;
    left: 65px;
  }
}
@media only screen and (max-width: 496px) {
  .fox {
    width: 130px;
    top: 185px;
    left: 25px;
  }
}
.fox__img {
  width: 285px;
  z-index: 1;
  transform: scale(-1, 1);
}
@media only screen and (max-width: 1184px) {
  .fox__img {
    width: 185px;
  }
}
@media only screen and (max-width: 992px) {
  .fox__img {
    width: 135px;
  }
}
@media only screen and (max-width: 496px) {
  .fox__img {
    width: 95px;
  }
}
.fox__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .fox__shadow {
    width: 210px;
    height: 42px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 992px) {
  .fox__shadow {
    width: 156px;
    height: 32px;
    margin-top: -22px;
  }
}
@media only screen and (max-width: 496px) {
  .fox__shadow {
    width: 126px;
    height: 26px;
    margin-top: -18px;
  }
}
.fox__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .fox__name {
    margin-top: 0;
    font-size: 30px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 992px) {
  .fox__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .fox__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.fox__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.fox__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.fox:hover .fox__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.polarbear {
  justify-items: center;
  width: 253px;
  top: 25px;
  left: 510px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .polarbear {
    left: 240px;
    top: 5px;
  }
}
@media only screen and (max-width: 992px) {
  .polarbear {
    width: 200px;
    left: 205px;
    top: 40px;
  }
}
@media only screen and (max-width: 496px) {
  .polarbear {
    width: 120px;
    left: 115px;
    top: 0px;
  }
}
.polarbear__img {
  width: 250px;
  z-index: 1;
}
@media only screen and (max-width: 1184px) {
  .polarbear__img {
    width: 140px;
  }
}
@media only screen and (max-width: 992px) {
  .polarbear__img {
    width: 105px;
  }
}
@media only screen and (max-width: 496px) {
  .polarbear__img {
    width: 70px;
  }
}
.polarbear__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .polarbear__shadow {
    width: 210px;
    height: 42px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 992px) {
  .polarbear__shadow {
    width: 156px;
    height: 32px;
    margin-top: -22px;
  }
}
@media only screen and (max-width: 496px) {
  .polarbear__shadow {
    width: 112px;
    height: 24px;
    margin-top: -16px;
  }
}
.polarbear__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .polarbear__name {
    margin-top: 0;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .polarbear__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .polarbear__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.polarbear__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.polarbear__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.polarbear:hover .polarbear__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.racoon {
  justify-items: center;
  width: 350px;
  top: 705px;
  left: 305px;
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .racoon {
    width: 220px;
    top: 370px;
    left: 170px;
  }
}
@media only screen and (max-width: 992px) {
  .racoon {
    width: 175px;
    top: 330px;
    left: 145px;
  }
}
@media only screen and (max-width: 496px) {
  .racoon {
    width: 125px;
    top: 180px;
    left: 78px;
  }
}
.racoon__img {
  width: 285px;
  z-index: 1;
}
@media only screen and (max-width: 1184px) {
  .racoon__img {
    width: 130px;
  }
}
@media only screen and (max-width: 992px) {
  .racoon__img {
    width: 100px;
  }
}
@media only screen and (max-width: 496px) {
  .racoon__img {
    width: 60px;
  }
}
.racoon__shadow {
  display: block;
  width: 250px;
  height: 52px;
  background: #9fc4d6;
  border-radius: 50%;
  margin-top: -30px;
}
@media only screen and (max-width: 1184px) {
  .racoon__shadow {
    width: 210px;
    height: 42px;
    margin-top: -25px;
  }
}
@media only screen and (max-width: 992px) {
  .racoon__shadow {
    width: 156px;
    height: 32px;
    margin-top: -22px;
  }
}
@media only screen and (max-width: 496px) {
  .racoon__shadow {
    width: 112px;
    height: 24px;
    margin-top: -16px;
  }
}
.racoon__name {
  color: #1e600c;
  text-align: center;
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  line-height: 90%;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media only screen and (max-width: 1184px) {
  .racoon__name {
    margin-top: 0;
    font-size: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .racoon__name {
    font-size: 20px;
  }
}
@media only screen and (max-width: 496px) {
  .racoon__name {
    font-size: 16px;
    margin-top: 5px;
  }
}
.racoon__name:hover {
  text-shadow: 0px 0px 1px #9fc4d6;
  transition: all 0.4s ease 0s;
  color: #21690d;
}
.racoon__name:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 80%;
  opacity: 0;
  transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
}
.racoon:hover .racoon__name:after {
  opacity: 1;
  top: -85%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

.ded-moroz {
  justify-items: center;
  width: 447px;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
}
@media only screen and (max-width: 1184px) {
  .ded-moroz {
    width: 400px;
    top: 0;
  }
}
.ded-moroz__img {
  width: 447px;
}
@media only screen and (max-width: 1184px) {
  .ded-moroz__img {
    width: 265px;
  }
}
@media only screen and (max-width: 992px) {
  .ded-moroz__img {
    width: 230px;
  }
}
@media only screen and (max-width: 496px) {
  .ded-moroz__img {
    width: 130px;
  }
}/*# sourceMappingURL=style.css.map */